#box { 
        width: 100px; 
        height: 100px;
        position: absolute; 
        background-image: url('./ativ.jpg'); 
        left: 200px; 
        top: 200px; 
        background-size: cover;
    }